aiohttp
beautifulsoup4==4.9.3
dask[complete]>=2.16.0
Django==3.0
django-cors-headers==3.5.0
gunicorn
elasticsearch>=7.8.0
html5lib==1.1
feedparser
redis
rq==1.5.1
rq-dashboard==0.6.1
rq-scheduler==0.10.0
tensorflow==2.3.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.0+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.7.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.8.1+cpu
transformers==3.5.1
pandas==1.1.4
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
