beautifulsoup4==4.9.3
Django==3.0
django-cors-headers==3.5.0
gunicorn
elasticsearch>=7.8.0
html2text==2020.1.16
html5lib==1.1
aiohttp
feedparser
redis
rq==1.5.1
rq-dashboard==0.6.1
rq-scheduler==0.10.0
